.logo-nav{
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left:30px;
  padding: 0;
  display: inline-flex;
  align-items: baseline;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-style: italic;
 }

 .log-box{
  text-align-last: center;
  margin-left: 25%;
  padding: 0px;
  }
 .frank{
  font-style: normal;
  font-size:15px ;
  }

 footer{
  align-self: flex-end;
  text-align: center;
  }

  hr{
margin-left: 10px;
width: 500px;
height: 0px;
border: 1px solid #FFFFFF;
  }



.navbar{
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width: 60%;
  margin-left: 20%;
 }


 a{
  color: black;
  font-weight: bolder;
 }
 .col-4{
 place-self: flex-end;
 }

 
=======


.search{
    display: none;
    
}

*{
    margin: 0;
    padding: 0;
}

.cont{
    justify-content: center;
    /* justify-content: space-between; */
    margin-top: 50px;
    height: 300px;
}

.tar{
    display:inline;
    /* height: auto; */
    /* margin-top: 20px; */
    padding: 40px;
}
.elemento{
    margin-left: 70px;
    margin-right: 70px;

}

.overflow{
    overflow: hidden;
}

.divBoton{
    display: flex;
    justify-content: center;
}

.boton{
    margin: 20px;
    align-items: center;
    height:40px;
    width: 170px ;
    background-color: black;
}

.textoBoton{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
}
